{{ define "main" }}
  <div class="p-4 xl:p-0">
    {{ partial "cover.html" . }}

    <section class="overview">
      <h2 class="border-b border-b-gray-300 p-4 text-3xl font-medium">Chronik</h2>

      <div class="my-4">
        <ul>
          <li><a href="/chronik/mannschaft/">Geschichte — Mannschaft</a></li>
          <li><a href="/chronik/kommando/">Geschichte — Kommando</a></li>
          <li><a href="/chronik/geraetehaeuser/">Geschichte — Gerätehäuser</a></li>
          <li><a href="/chronik/grossbraende/">Geschichte — Großbrände</a></li>
        </ul>
      </div>
    </section>
  </div>
{{ end }}

{{ define "edit" }}
  https://github.com/ffwenns/homepage/edit/main/content/chronik/
{{ end }}
