{{/* German date formatter
  Usage: {{ partial "german-date" .Date
}}
Output: "Freitag, 02. August 2013" */}}
{{ $weekdays := slice "Sonntag" "Montag" "Dienstag" "Mittwoch" "Donnerstag" "Freitag" "Samstag" }}
{{ $months := slice "Jänner" "Feber" "März" "April" "Mai" "Juni" "Juli" "August" "September" "Oktober" "November" "Dezember" }}

{{ $weekday := index $weekdays .Weekday }}
{{ $day := printf "%02d" .Day }}
{{ $month := index $months (sub .Month 1) }}
{{ $year := .Year }}


<time datetime="{{ . | time.Format "2006-01-02" }}" data-pagefind-sort="date">{{ printf "%s, %s. %s %d" $weekday $day $month $year }}</time>
