#fahrzeuge .text {
    dl {
        margin-bottom: 4rem
    }

  dt {
    padding-top: 0.5rem;
    font-weight: bold;
  }

  dd {
    padding-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    margin-bottom: 4rem;
  }

  li {
    padding: 0.5rem 0;
  }

  dd + dt,
  li + li,
  p + p {
    border-top: 1px solid #ddd;
  }

  h2 {
    margin-bottom: 0;
    font-size: larger;
    text-transform: uppercase;
  }
  
}
