<nav id="dropdown">
  <ul class="flex divide-x divide-red-900">
    <li class="group">
      {{ $firstSegment := index (split .RelPermalink "/") 1 }}
      <a
        href="/aktuelles/"
        class="{{ if or (hasPrefix .RelPermalink "/aktuelles/") (eq .RelPermalink "/aktuelles/") (hasPrefix .RelPermalink "/archiv/") (eq .RelPermalink "/archiv/") }}
          font-semibold bg-red-800
        {{ end }}"
      >
        Aktuelles
      </a>

      <div class="content">
        <div class="right-[434px] w-[300px] min-w-0 group-hover:block">
          <ul>
            {{ partial "nav-link" (dict "url" "/aktuelles/" "text" "Aktuelle Beiträge" "context" .) }}
            {{ partial "nav-link" (dict "url" "/archiv/" "text" "Jahresarchiv" "context" .) }}
          </ul>
        </div>
      </div>
    </li>

    <li class="group">
      <a href="/mannschaft/kommando/" class="{{ if hasPrefix .RelPermalink "/mannschaft/" }}font-semibold bg-red-800{{ end }}">Mannschaft</a>

      <div class="content">
        <div class="w-[602px] min-w-0">
          <ul class="w-1/3 flex-auto">
            {{ partial "nav-link" (dict "url" "/mannschaft/kommando/" "text" "Kommando" "context" .) }}
            {{ partial "nav-link" (dict "url" "/mannschaft/ausschuss/" "text" "Ausschuss" "context" .) }}
            {{ partial "nav-link" (dict "url" "/mannschaft/ehrenmitglieder/" "text" "Ehrenmitglieder" "context" .) }}
            {{ partial "nav-link" (dict "url" "/mannschaft/jugend/" "text" "Jugend" "context" .) }}
          </ul>
          <ul class="w-1/3 flex-auto">
            {{ partial "nav-link" (dict "url" "/mannschaft/gruppe-1/" "text" "Gruppe 1" "context" .) }}
            {{ partial "nav-link" (dict "url" "/mannschaft/gruppe-2/" "text" "Gruppe 2" "context" .) }}
            {{ partial "nav-link" (dict "url" "/mannschaft/gruppe-3/" "text" "Gruppe 3" "context" .) }}
            {{ partial "nav-link" (dict "url" "/mannschaft/gruppe-4/" "text" "Gruppe 4" "context" .) }}
            {{ partial "nav-link" (dict "url" "/mannschaft/gruppe-5/" "text" "Gruppe 5" "context" .) }}
          </ul>
          <ul class="w-1/3 flex-auto">
            {{ partial "nav-link" (dict "url" "/mannschaft/gruppe-6/" "text" "Gruppe 6" "context" .) }}
            {{ partial "nav-link" (dict "url" "/mannschaft/gruppe-7/" "text" "Gruppe 7" "context" .) }}
            {{ partial "nav-link" (dict "url" "/mannschaft/gruppe-8/" "text" "Gruppe 8" "context" .) }}
            {{ partial "nav-link" (dict "url" "/mannschaft/gruppe-9/" "text" "Gruppe 9" "context" .) }}
          </ul>
        </div>
      </div>
    </li>
    <li class="group">
      <a
        href="/fahrzeuge/kdofa/"
        {{ if hasPrefix .RelPermalink "/fahrzeuge/" }}class="font-semibold xl:bg-red-800"{{ end }}
      >
        Fahrzeuge
      </a>
      <div class="content">
        <div class="w-[446px] min-w-0">
          <ul class="w-1/2 flex-auto">
            {{ partial "nav-link" (dict "url" "/fahrzeuge/kdofa/" "text" "KDOFA" "context" .) }}
            {{ partial "nav-link" (dict "url" "/fahrzeuge/mtfa/" "text" "MTFA" "context" .) }}
          </ul>
          <ul class="w-1/2 flex-auto">
            {{ partial "nav-link" (dict "url" "/fahrzeuge/tlfa2000/" "text" "TLFA 2000" "context" .) }}
            {{ partial "nav-link" (dict "url" "/fahrzeuge/rfa/" "text" "RFA" "context" .) }}
            {{ partial "nav-link" (dict "url" "/fahrzeuge/lfa/" "text" "LFA" "context" .) }}
          </ul>
        </div>
      </div>
    </li>
    <li class="group">
      <a
        href="/feuerwehrhalle/fahrzeughalle/"
        {{ if hasPrefix .RelPermalink "/feuerwehrhalle/" }}class="font-semibold xl:bg-red-800"{{ end }}
      >
        Feuerwehrhalle
      </a>
      <div class="content">
        <div class="w-[446px] min-w-0">
          <ul class="w-1/2 flex-auto">
            {{ partial "nav-link" (dict "url" "/feuerwehrhalle/fahrzeughalle/" "text" "Fahrzeughalle" "context" .) }}
            {{ partial "nav-link" (dict "url" "/feuerwehrhalle/umkleideraum/" "text" "Umkleideraum" "context" .) }}
            {{ partial "nav-link" (dict "url" "/feuerwehrhalle/atemschutzraum/" "text" "Atemschutzraum" "context" .) }}
            {{ partial "nav-link" (dict "url" "/feuerwehrhalle/schulungsraum/" "text" "Schulungsraum" "context" .) }}
            {{ partial "nav-link" (dict "url" "/feuerwehrhalle/notstromaggregat/" "text" "Notstromaggregat" "context" .) }}
          </ul>

          <ul class="w-1/2 flex-auto">
            {{ partial "nav-link" (dict "url" "/feuerwehrhalle/schlauchturm/" "text" "Schlauchturm" "context" .) }}
            {{ partial "nav-link" (dict "url" "/feuerwehrhalle/florianstation/" "text" "Florianstation" "context" .) }}
            {{ partial "nav-link" (dict "url" "/feuerwehrhalle/kommandoraum/" "text" "Kommandoraum" "context" .) }}
            {{ partial "nav-link" (dict "url" "/feuerwehrhalle/lager/" "text" "Lager" "context" .) }}
            {{ partial "nav-link" (dict "url" "/feuerwehrhalle/werkstatt/" "text" "Werkstatt" "context" .) }}
          </ul>
        </div>
      </div>
    </li>
    <li class="group">
      <a
        href="/chronik/mannschaft/"
        {{ if hasPrefix .RelPermalink "/chronik/" }}class="font-semibold xl:bg-red-800"{{ end }}
      >
        Chronik
      </a>
      <div class="content">
        <div class="w-[304px] min-w-0">
          <ul>
            {{ partial "nav-link" (dict "url" "/chronik/mannschaft/" "text" "Geschichte — Mannschaft" "context" .) }}
            {{ partial "nav-link" (dict "url" "/chronik/kommando/" "text" "Geschichte — Kommando" "context" .) }}
            {{ partial "nav-link" (dict "url" "/chronik/geraetehaeuser/" "text" "Geschichte — Gerätehäuser" "context" .) }}
            {{ partial "nav-link" (dict "url" "/chronik/grossbraende/" "text" "Geschichte — Großbrände" "context" .) }}
          </ul>
        </div>
      </div>
    </li>
  </ul>
</nav>
