<div class="col-1 hidden"></div>
<div class="col-2 hidden"></div>

<div id="menu">
  {{ $currentPage := . }}
  {{ range site.Menus.main }}
    <details name="Navigation" {{ if $currentPage.HasMenuCurrent "main" . }}open{{ end }}>
      <summary>{{ .Name }}</summary>

      {{ with .Children }}
        <div class="content">
          <ul class="grid grid-flow-row-dense grid-cols-2">
            {{ range . }}
              <li class="{{ with .Params.Col }}col-{{ . }}{{ end }}">
                <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}font-semibold{{ end }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </details>
  {{ end }}
</div>
