@import "tailwindcss";
@import "./page.css";

@theme {
  --font-sans: "Roboto", sans-serif;
  --breakpoint-xs: 30rem;
  --breakpoint-xxl: 90rem;
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-[90rem];
  }

  a[href="#navbar"] {
    @apply relative z-10 block cursor-pointer border-l border-l-red-900 p-8 transition-all duration-300;

    #close {
      @apply absolute inset-0;
    }

    #hamburger {
      @apply relative my-[6px] select-none;

      &,
      &::before,
      &::after {
        @apply block h-[2px] w-5 bg-white transition-all duration-300;
      }

      &::before,
      &::after {
        @apply absolute content-[""];
      }

      &::before {
        @apply -top-[6px];
      }

      &::after {
        @apply top-[6px];
      }
    }
  }

  #navbar {
    &:target {
      a[href="#navbar"] {
        @apply pointer-events-none;

        #hamburger {
          @apply bg-transparent;

          &::before {
            @apply translate-y-[6px] rotate-45;
          }

          &::after {
            @apply translate-y-[-6px] rotate-[-45deg];
          }
        }
      }
    }

    & + #offcanvas {
      translate: 0 -100%;
      opacity: 0;
    }

    &:target + #offcanvas {
      translate: none;
      opacity: 100%;
    }
  }

  #offcanvas {
    details[open] {
      @apply bg-gray-100;

      summary {
        @apply text-black;

        span {
          @apply block border-b border-gray-300 pb-2;
        }
      }
    }

    summary {
      @apply cursor-pointer select-none list-none p-4 text-xl font-semibold text-gray-600;
    }
    .content {
      @apply px-4 pb-4;
    }

    li a {
      @apply block py-1 text-lg;
    }
  }

  #dropdown {
    .content {
      @apply absolute left-0 right-0 -z-10 mx-auto block max-w-[90rem];

      & > div {
        @apply absolute right-0 hidden min-w-[736px] divide-x divide-gray-400 rounded-b-sm bg-gray-300 group-hover:flex;
      }
    }

    & > ul > li > a {
      @apply block bg-red-700 p-6 text-xl font-medium;

      &:after {
        @apply block scale-x-0 border-b-2 border-white transition-all duration-300 ease-in-out content-[""];
      }

      &:hover:after {
        @apply xl:scale-x-100;
      }
    }

    ul ul {
      @apply my-4 bg-gray-300 text-black;
    }

    ul ul a {
      @apply block px-6 py-2 text-lg;

      &:hover {
        @apply underline;
      }
    }
  }

  article {
    p {
      @apply whitespace-pre-line;
    }
  }

  @supports (interpolate-size: allow-keywords) {
    :root {
      interpolate-size: allow-keywords;
    }

    details {
      transition: 0.3s all;
    }

    ::details-content {
      transition:
        height 0.3s ease,
        content-visibility 0.3s ease allow-discrete;
      height: 0;
      overflow: clip;
    }

    [open]::details-content {
      height: auto;
    }
  }
}
