{{ define "main" }}
  {{ partial "h2" (dict "title" .Title) }}
  {{ with .Params.archive }}
    <dl class="p-4 xxl:p-0">
      {{ range . }}
        <dt class="font-bold">Alle Beiträge aus {{ .name }}</dt>
        <dd class="mb-4 pl-4">
          <a href="https://raw.githubusercontent.com/ffwenns/archive/refs/heads/main/files/{{ .file }}" class="text-red-800 underline hover:no-underline">
            ffwenns_jahresarchiv_{{ .name }}.pdf
          </a>
        </dd>
      {{ end }}
    </dl>
  {{ end }}
{{ end }}
