<!doctype html>
<html lang="de" class="scroll-smooth antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

    <style>
      @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 100 900;
        font-stretch: 75% 100%;
        font-display: swap;
        src: url("/fonts/roboto.woff2") format("woff2");
      }
    </style>

    {{ partialCached "head/css.html" . }}
    {{ partialCached "head/js.html" . }}
  </head>
  <body>
    <header class="sticky top-0 z-10 bg-red-800 text-white">
      {{ partial "nav.html" . }}
    </header>
    <header class="bg-red-700 text-white">
      {{ partial "header.html" . }}
    </header>
    <main class="wrapper">
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
