<!doctype html>
<html lang="de" class="overflow-auto! scroll-smooth bg-gray-300 antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <title>
      {{ if .IsHome }}
        {{ site.Title }}
      {{ else }}
        {{ $segments := split .RelPermalink "/" }}
        {{ $firstSegment := index $segments 1 }}
        {{ $secondSegment := index $segments 2 }}
        {{ if and $firstSegment (findRE "^20[0-9][0-9]$" $firstSegment) (not $secondSegment) }}
          {{ printf "Alle Beiträge aus %s | %s" $firstSegment site.Title }}
        {{ else }}
          {{ printf "%s | %s" .Title site.Title }}
        {{ end }}
      {{ end }}
    </title>

    <style>
      @font-face {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 100 900;
        font-stretch: 75% 100%;
        font-display: swap;
        src: url("/fonts/roboto.woff2") format("woff2");
      }
    </style>

    {{ partialCached "head/css.html" . }}
    {{ partialCached "head/js.html" . }}
  </head>
  <body id="page-{{ trim (replace .RelPermalink "/" "-") "-" }}" class="mx-auto mr-auto! max-w-[100rem] bg-white">
    <header id="navbar" class="sticky top-0 z-10 bg-red-700 text-white">
      {{ partial "navbar.html" . }}
    </header>

    <nav
      id="offcanvas"
      class="fixed right-0 z-9 grid w-full gap-4 transition-all duration-300 md:grid-cols-2 xl:hidden"
    >
      {{ partial "menu/mobile.html" . }}
    </nav>

    <header id="header">
      <div class="relative flex min-h-80 flex-col justify-center gap-4 sm:min-h-96 sm:gap-8 lg:min-h-[480px]">
        <a href="/" class="mt-8 block">
          <img src="/images/feuerwehr-wenns.svg" class="mx-auto h-24 w-auto sm:h-32" />
        </a>
        <div class="mx-auto line-clamp-3 min-h-[3lh] px-8 text-2xl sm:text-4xl lg:max-w-[40ch] lg:px-16 lg:text-5xl">
          {{ block "title" . }}
            <h1>
              {{ .Title }}
            </h1>
          {{ end }}
        </div>
      </div>
    </header>
    <main class="wrapper">
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
