{{ define "main" }}
  {{ partial "cover.html" . }}


  <h1>{{ .Title }}</h1>
  <div>
    {{ with .Resources.GetMatch "data.yaml" }}
      {{ $data := . | transform.Unmarshal }}

      {{ if $data.details }}
        <dl class="mb-6">
          {{ range $key, $value := $data.details }}
            <dt class="font-semibold">{{ $key }}</dt>
            <dd class="mb-2">{{ $value }}</dd>
          {{ end }}
        </dl>
      {{ end }}

      {{ if $data.beladung }}
        <h2 class="mb-2 text-xl font-semibold">Beladung</h2>
        <ul class="mb-6 list-disc pl-6">
          {{ range $data.beladung }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      {{ end }}

      {{ if $data.aufgaben }}
        <h2 class="mb-2 text-xl font-semibold">Aufgaben</h2>
        <ul class="list-disc pl-6">
          {{ range $data.aufgaben }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
