{{ define "main" }}
  <div class="p-4 xl:p-0">
    {{ with .Resources.GetMatch "cover.webp" }}
      <img src="{{ .RelPermalink }}" class="aspect-21/9 -mt-8 w-full rounded-sm object-cover" />
    {{ end }}


    <section class="overview">
      <h1 class="border-b border-b-gray-300 p-4 text-3xl font-medium">Fahrzeuge</h1>

      <div class="my-4 grid grid-cols-2 gap-8 divide-x divide-gray-300">
        <ul>
          <li><a href="/fahrzeuge/kdofa/">KDOFA</a></li>
          <li><a href="/fahrzeuge/mtfa/">MTFA</a></li>
        </ul>
        <ul>
          <li><a href="/fahrzeuge/tlfa2000/">TLFA 2000</a></li>
          <li><a href="/fahrzeuge/rfa/">RFA</a></li>
          <li><a href="/fahrzeuge/lfa/">LFA</a></li>
        </ul>
      </div>
    </section>
  </div>
{{ end }}
