{{ define "main" }}
  {{ partial "h2.html" (dict "title" .Title) }}


  <div class="px-4 xxl:p-0">
    <details name="Kommando" open>
      <summary>Kommandanten</summary>
      {{ partial "kommando.html" .Params.kommandanten }}
    </details>

    <details name="Kommando">
      <summary>Kommandant Stv.</summary>
      {{ partial "kommando.html" .Params.kommandant_stv }}
    </details>

    <details name="Kommando">
      <summary>Schriftführer</summary>
      {{ partial "kommando.html" .Params.schriftfuehrer }}
    </details>

    <details name="Kommando">
      <summary>Kassiere</summary>
      {{ partial "kommando.html" .Params.kassiere }}
    </details>

    <details name="Kommando">
      <summary>Ehrenmitglieder</summary>
      {{ partial "kommando.html" .Params.ehrenmitglieder }}
    </details>

    <details name="Kommando">
      <summary>Patinnen</summary>
      {{ partial "kommando.html" .Params.patinnen }}
    </details>

    <details name="Kommando">
      <summary>Obermaschinisten</summary>
      {{ partial "kommando.html" .Params.obermaschinisten }}
    </details>

    <details name="Kommando">
      <summary>Atemschutzbeauftragte</summary>
      {{ partial "kommando.html" .Params.atemschutzbeauftragte }}
    </details>

    <details name="Kommando">
      <summary>Gerätewarte</summary>
      {{ partial "kommando.html" .Params.geraetewarte }}
    </details>

    <details name="Kommando">
      <summary>Jugendbetreuer</summary>
      {{ partial "kommando.html" .Params.jugendbetreuer }}
    </details>
  </div>
{{ end }}
