{{ define "main" }}
  <div class="p-4 xl:p-0">
    {{ partial "cover.html" . }}

    <section class="overview">
      <h2 class="border-b border-b-gray-300 p-4 text-3xl font-medium">Mannschaft</h2>

      <div class="my-4 grid grid-cols-3 gap-8 divide-x divide-gray-300">
        <ul>
          <li><a href="/mannschaft/kommando/">Kommando</a></li>
          <li><a href="/mannschaft/ausschuss/">Ausschuss</a></li>
          <li><a href="/mannschaft/ehrenmitglieder/">Ehrenmitglieder</a></li>
          <li><a href="/mannschaft/jugend/">Jugend</a></li>
        </ul>
        <ul>
          <li><a href="/mannschaft/gruppe-1/">Gruppe 1 (Reserve)</a></li>
          <li><a href="/mannschaft/gruppe-2/">Gruppe 2</a></li>
          <li><a href="/mannschaft/gruppe-3/">Gruppe 3</a></li>
          <li><a href="/mannschaft/gruppe-4/">Gruppe 4</a></li>
          <li><a href="/mannschaft/gruppe-5/">Gruppe 5</a></li>
        </ul>
        <ul>
          <li><a href="/mannschaft/gruppe-6/">Gruppe 6</a></li>
          <li><a href="/mannschaft/gruppe-7/">Gruppe 7</a></li>
          <li><a href="/mannschaft/gruppe-8/">Gruppe 8</a></li>
          <li><a href="/mannschaft/gruppe-9/">Gruppe 9 (Ausbildungsgruppe)</a></li>
        </ul>
      </div>
    </section>
  </div>
{{ end }}
